.card-member {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.card-member .content {
  padding: 25px;
}
.card-member > img {
  background: none repeat scroll 0 0 transparent;
  height: auto;
  width: 120px;
  margin: 0 auto;
}
.card .icon {
  font-size: 75px;
  line-height: 75px;
}
.card .icon ~ h3 {
  margin-top: 5px;
  margin-bottom: 0px;
}
.section-cards .card a {
  opacity: .93;
}
.card {
  background: #fff;
  box-shadow: 0 32px 44px -24px rgba(0, 0, 0, 0.23), 0 20px 25px 0px rgba(0, 0, 0, 0.12), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  margin-bottom: 30px;
  -webkit-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -moz-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -o-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  -ms-transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
  transition: all 370ms cubic-bezier(0.34, 1.61, 0.7, 1);
}
.card:not(.card-plain):not(.card-price):hover {
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  box-shadow: 0 26px 50px -10px rgba(0, 0, 0, 0.38), 0 10px 20px 0px rgba(0, 0, 0, 0.2), 0 15px 10px -10px rgba(0, 0, 0, 0.2);
}
.card .subtitle-black {
  color: #141414;
}
.card a {
  opacity: .85;
}
.card:hover .header {
  opacity: 1;
}
.card h2 {
  margin-top: 0;
}
.card img {
  max-width: 100%;
}
.card .header img {
  border-radius: 4px;
}
.card .image-header,
.card .header img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}
.card .image-header.image-full,
.card .header img.image-full {
  border-radius: 4px;
}
.card .row .image-header,
.card .row .header img {
  width: 100%;
  border-radius: 4px;
}
.card .btn {
  margin-top: 15px;
}
.card > img {
  border-radius: 4px;
}
.card .title {
  margin-bottom: 5px;
  color: #333333;
}
.card .description {
  font-size: 13px;
}

.card-member {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
.card-member .content {
  padding: 25px;
}
.card-member > img {
  background: none repeat scroll 0 0 transparent;
  height: auto;
  width: 120px;
  margin: 0 auto;
}

.card-white {
  background: #FFFFFF;
}

.card-plain {
  border-radius: 0;
  box-shadow: none;
  background: none;
}
.card-plain .image-header {
  border-radius: 4px;
}
/*contact us page*/
.col-md-offset-11 {
  margin-left: 91.66666667%;
}
.col-md-offset-10 {
  margin-left: 83.33333333%;
}
.col-md-offset-9 {
  margin-left: 75%;
}
.col-md-offset-8 {
  margin-left: 66.66666667%;
}
.col-md-offset-7 {
  margin-left: 58.33333333%;
}
.col-md-offset-6 {
  margin-left: 50%;
}
.col-md-offset-5 {
  margin-left: 41.66666667%;
}
.col-md-offset-4 {
  margin-left: 33.33333333%;
}
.col-md-offset-3 {
  margin-left: 25%;
}
.col-md-offset-2 {
  margin-left: 16.66666667%;
}
.col-md-offset-1 {
  margin-left: 8.33333333%;
}
.col-md-offset-0 {
  margin-left: 0;
}
/*contact us page icons*/
#contact-icons{
  color:#51cbce;
  margin-top:30px;
  padding-left:50%;
}
#contact-label{
  height: 75px;
  margin-top: -100px;
  background: #51cbce;
  box-shadow: 0 5px 64px -15px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .section-pricing [class*="col-"]:not(:first-child):not(:last-child) > .card:not(.card-black) {
    border-radius: 0;
  }
  .section-pricing .card:not(.card-black) {
    box-shadow: none;
  }
  .section-pricing [class*="col-"]:first-child > .card:not(.card-black) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .section-pricing [class*="col-"]:last-child > .card:not(.card-black) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
}
@media (max-width: 767px) {
  .section-numbers .card {
    padding: 20px 0;
  }
  .section-pricing .card-price {
  margin-bottom: 30px;
  border-radius: 10px;
}
}
